{% extends "base_web.html" %}
{% load staticfiles%}
{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Learning Machine Learning</h1>
            <div class="row center">
                <h5 class="header col s12 light">Aprende Machine Learning y añade inteligencia artificial a tus
                    programas Scratch</h5>
            </div>
            <div class="row center">
                <a href="{{url_lml_editor}}" id="download-button"
                   class="btn-large waves-effect waves-light teal lighten-1">Comenzar</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="{% static 'web/background-lml-web.jpg' %}" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div id="introduction" class="section scrollspy">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center green-text"><i class="material-icons">list_alt</i></h2>
                    <h5 class="center">Recopila datos</h5>

                    <p class="light">
                        Recopila textos o imágenes sobre algo que quieras clasificar de forma automática y añádelos
                        a LearningML indicando a qué clase pertenece cada uno de ellos. Estos datos
                        constituyen el <b>conjunto de entrenamiento</b>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center green-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Construye un modelo</h5>

                    <p class="light">
                        Construye con LearningML un modelo capaz de clasificar correctamente otros datos distintos,
                        aunque similares,
                        a los del conjunto de entrenamiento.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center green-text"><i class="material-icons">add_to_home_screen</i></h2>
                    <h5 class="center">Crea una aplicación</h5>

                    <p class="light">
                        Exporta tu modelo de Machine Learning a Scratch y programa una aplicación
                        con capacidad para clasificar datos sobre el tema que hayas elegido. ¡Enhorabuena! ¡has
                        incorporado Inteligencia Artificial a tu programa Scratch!.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
       <video width="100%" muted loop controls id="videotutorial">
            <source src="{% static 'web/doc/mini-tutorial-intro-imagenes.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <script>
             document.getElementById('videotutorial').play();
        </script>
    </div>

</div>

<div class="container">
    <div id="quees" class="section scrollspy">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>¿Qué es Learning Machine Learning?</h4>
                <p class="left-align light">
                    Machine Learning, o Aprendizaje Automático como se conoce en español,
                    es un conjunto de algoritmos y técnicas con las que se
                    construyen modelos de predicción y clasificación a partir de conjuntos
                    de datos conocidos. Aunque son muchos los tipos de algoritmos de Machine
                    Learning, todos comparten una estructura de funcionamiento similar:
                    se presentan como entradas del algoritmo un conjunto de datos cuya clasificación
                    se conoce de antemano. Con esos datos correctamente clasificados el algoritmo
                    ajusta una serie de parámetros de un modelo de manera que además de clasificar
                    los datos de entrada es capaz de clasificar nuevos datos cuya clasificación
                    no se conoce de antemano.
                </p>
                <p class="left-align light">
                    El Machine Learning constituye uno de los campos de más éxito de la Inteligencia
                    Artificial. A pesar de que muchas de sus técnicas y algoritmos se conocen desde
                    hace múchisimo tiempo, ha sido en los últimos tiempos cuando se ha producido una
                    auténtica revolución del Machine Learning. Ello se debe a la potencia de cálculo
                    de los ordenadores actuales unido a la gran cantidad de datos que sobre cualquier
                    tema existen en la actualidad. Tanto es así que cuando se habla en los medios de
                    Inteligencia Artificial, la mayor parte de las veces se refieren realimente a
                    Machine Learning.

                </p>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{% static 'web/background-genio.png' %}" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div id="porque" class="section scrollspy">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>¿Por qué aprender Machine Learning?</h4>
                <p class="left-align light">
                    La Inteligencia Artificial, y más concretamente un conjunto de técnicas conocidas como Machine Learning
                    (aprendizaje automático), ha irrumpido con fuerza en la sociedad, y todos los días con más o menos
                    consciencia, la estamos utilizando cuando hacemos búsquedas en la red, cuando nos dejamos aconsejar por
                    los sistemas de recomendación de distribuidores de contenidos, al escribir en el móvil con un teclado
                    predictivo, cuando el móvil se desbloquea al comprobar nuestra huella o nuestra cara, cuando usamos los
                    traductores automáticos y en otras muchas ocasiones que de alguna manera nos afectan.
                </p>
                <p class="left-align light">
                    Es cierto que el uso de sistemas de Inteligencia Artificial (IA) ofrece nuevas y prósperas oportunidades
                    a la sociedad, pero también introduce nuevos riesgos y cuestiones éticas que deben
                    abordarse. Pensamos que la introducción de contenidos de inteligencia artificial en la escuela
                    a través de proyectos prácticos es el camino a seguir para educar ciudadanos conscientes y críticos,
                    para despertar vocaciones entre los jóvenes, y para fomentar las habilidades de Pensamiento Computacional
                    de los estudiantes.
                </p>
                <p class="left-align light">
                    Sin embargo, la mayoría de las plataformas educativas de programación existentes carecen de algunas
                    características necesarias para desarrollar proyectos completos de IA y, en consecuencia,
                    se requieren nuevas herramientas. En este sitio web presentamos LearningML, una nueva plataforma dirigida
                    al aprendizaje automático supervisado, una de las técnicas de IA más exitosas que se encuentra en la base de
                    casi todas las aplicaciones actuales de IA y con la que pretendemos cubrir esa falta de herramientas para
                    la enseñanza práctica de la Inteligencia Artificial.
                </p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
