{% extends "base.html" %}

{% block content %}
<div style="align-items: center;" class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp demo-card-wide">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">¡Enhorabuena {{username}}, cuenta activada!</h2>
        </div>
        <div class="mdl-card__media">
            {% load static %}
            <img src="{% static 'projects/Genio_pose_3.png' %}" height="300px" border="0" alt=""
                 style="display: block; margin-left: auto;margin-right: auto;">
        </div>
        <div class="mdl-card__supporting-text">
            Ya puedes disfrutar completamente de LearningML guardando y compartiendo tus proyectos de Machine Learning.
        </div>
        <div class="mdl-card__actions">
            <a href="{{ url_lml }}">Comenzar con LearningML</a>
        </div>
    </div>
</div>
{% endblock %}