{% extends "base.html" %}

{% block content %}
<div style="align-items: center;" class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp demo-card-wide">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">¡Oooohhhh, ese enlace no sirve para activar ninguna cuenta!</h2>
        </div>
        <div class="mdl-card__media">
            {% load static %}
            <img src="{% static 'projects/Genio_pose_4.png' %}" height="300px" border="0" alt=""
                 style="display: block; margin-left: auto;margin-right: auto;">
        </div>
        <div class="mdl-card__supporting-text">
            Vuelve a crear una cuenta de LearningML
        </div>
        <div class="mdl-card__actions">
            <a href="{{ url_lml }}">Ir a LearningML</a>
        </div>
    </div>
</div>
{% endblock %}